---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <section>
    <img src="" alt="" />
    <article>
      <h1>Københavnerbilleder - en guide til hipster foto</h1>
      <h3>Af Sten Simons</h3>
    </article>
  </section>
  <section>
    <article>
      <p>
        Titel: Københavnerbilleder - en guide til hipster foto Forfatter: Sten
        Simons Antal sider: 344 Forlag: Mellem Linjerne ISBN: 987-6-987654-32-1
        Pris: 399.-
      </p>
    </article>
    <article>
      <p>
        Københavnerbilleder er de danske streetfotografers bibel: Det er en
        fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle
        væsentlige aspekter af streetfotografering fra grundlæggende teknik til
        kreative eksperimenter. Alt sammen krydret med masser af inspirerende
        fotos. God læselyst!
      </p>
    </article>
  </section>
  <section>
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
  </section>
  <section>
    <h2>Kapitlerne</h2>
    <article>
      <h4>(gentag mange gange)</h4>
      <p>(gentag mange gange)</p>
    </article>
  </section>
</MainLayout>
