<div
  x-data="{ showmenu: false }"
  class="p-4 fixed w-full bg-customWhite self-center font-mono z-50"
>
  <div id="navbar" class="flex flex-row justify-between items-center">
    <div id="logo" class="font-black text-2xl uppercase">
      <a href="#kobenhavnerbilleder">
        <img src="/logo.svg" alt="logo" class="w-64 h-auto" />
      </a>
    </div>

    <nav id="desktopmenu" class="hidden lg:flex self-center">
      <ul class="flex flex-row gap-8">
        <li
          class="hover:underline hover:text-amber-600 transition duration-300"
        >
          <a href="#kobenhavnerbilleder">Københavnerbilleder</a>
        </li>
        <li
          class="hover:underline hover:text-amber-600 transition duration-300"
        >
          <a href="#bogensindhold">Bogens indhold</a>
        </li>
        <li
          class="hover:underline hover:text-amber-600 transition duration-300"
        >
          <a href="#forfatteren">Forfatteren</a>
        </li>
        <li
          class="hover:underline hover:text-amber-600 transition duration-300"
        >
          <a href="#bestilbogen ">Bestil bogen</a>
        </li>
      </ul>
    </nav>

    <button
      id="burgermenu"
      class="lg:hidden focus:outline-none"
      x-on:click="showmenu = !showmenu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>

  <nav
    id="mobilmenu"
    class="lg:hidden flex flex-col items-center pt-4 bg-customWhite absolute w-full left-0"
    x-show="showmenu"
    x-transition
    x-on:click.outside="showmenu = false"
  >
    <ul class="w-full">
      <li
        class="text-center py-2 hover:underline hover:text-amber-600 transition duration-300"
      >
        <a href="#kobenhavnerbilleder">Københavnerbilleder</a>
      </li>
      <li
        class="text-center py-2 hover:underline hover:text-amber-600 transition duration-300"
      >
        <a href="#bogensindhold">Bogens indhold</a>
      </li>
      <li
        class="text-center py-2 hover:underline hover:text-amber-600 transition duration-300"
      >
        <a href="#forfatteren">Forfatteren</a>
      </li>
      <li
        class="text-center py-2 hover:underline hover:text-amber-600 transition duration-300"
      >
        <a href="#bestilbogen">Bestil bogen</a>
      </li>
    </ul>
  </nav>
</div>
