---
const { title, omkapitel } = Astro.props;
---

<article class="w-11/12">
  <h4 class="font-extrabold uppercase text-lg font-mono">{title}</h4>
  <p class="leading-relaxed text-base">{omkapitel}</p>
</article>
