---
const { omtale, stjerner, anmelder } = Astro.props;
---

<div>
  <p class="font-bold text-xl font-mono uppercase pb-2">
    {stjerner}
  </p>
  <p>{omtale}</p>
  <p class="italic pt-2 text-amber-600">{anmelder}</p>
</div>
